.ImageModal{

}

.ImageModal__title{
    padding: 10px 15px;
    background: #00acac;
    color: #fff;
}
.ImageModal__content{
    padding: 15px 15px;
}

.ImageModal__dropAreaWrapper{
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 50%;
    border: 4px dashed #efefef;
    position: relative;
}

.ImageModal__dropArea{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageModal__buttons{
    text-align: right;
    margin-top: 10px;
}

.ImageModal__previewContainer{
    width: 100%;
}

.ImageModal__previewImage{
    height:400px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.ImageModal__previewImage_spinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.ImageModal__previewCroppingImage{
    position: relative;
}
