.Properties{
  padding-bottom: 20px;
}

.Properties__toolbar{
  padding: 10px 20px;
}

.Group{
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid #efefef;
}
.Group__title{
  min-width: 180px;
  max-width: 180px;
  margin-right: 15px;
  font-weight: bold;
}
.Group__content{
  width: 100%;
}

.Property{
  display: flex;
}


.Property__title{
  margin-right: 15px;
  min-width: 100px;
  max-width: 100px;
}

.Property_asGroup{}

.Property_asGroup .Property__title{
  font-weight: bold;
  min-width: 180px;
  max-width: 180px;
}

.Property__content{
  flex-grow: 1;
  margin-bottom: 5px;
}
