.News {

}

.News__recentNews {

}

.RecentNewsContainer {
  display: block;
  margin-bottom: 15px;
}

.RecentNews {
  width: 100%;
  padding-top: 65%;
  position: relative;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.RecentNews:before {
  z-index: 2;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(10, 37, 51, .8) 0, rgba(10, 37, 51, 0) 100%), rgba(10, 37, 51, .8);
  opacity: 0.3;
}

.RecentNews__img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-in;
}

.RecentNews:hover:before {
  opacity: 0.5;
}

.RecentNews:hover .RecentNews__img {
  transform: scale(1.1);
}

.RecentNews__title {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  font-weight: bold;
  font-size: 24px;
  z-index: 3;
}

.RecentNews__date {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
  color: #fff;
}

.Date {
  display: flex;

}

.Date__day {
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;
}

.Date__monthYearContainer {
  margin-left: 5px;
}

.Date__month {
  font-size: 20px;
}

.Date__year {
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
}

.RestNews__title {
  margin: 40px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-top:7px;
}

.RestNews__title:before {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  display: block;
  max-width: 100%;
  width: 70px;
  height: 2px;
  background: rgb(1, 131, 57);
;

}

.NewsItem__date {
  font-size: 12px;
}

.NewsItem {
  display: flex;
  padding: 15px 15px 15px 0;
}

.NewsItem__img {
  width: 30%;
  margin-right: 5px;
}

.NewsItem__img img {
  width: 100%;
}

.NewsItem__content {
  align-items: center;
  flex-grow: 1;
}

.NewsItem__link {
  display: block;
  text-align: right;
  text-decoration: underline;
  color: #444;
}

.NewsItem__link:hover {
  text-decoration: none;
  color: #444;
}
