.Node {
  display: flex;
  padding: 5px 15px 5px 2px;
}

.Node__icon {
  margin-right: 5px;
  line-height: 30px;
}

.Node__content {
  line-height: 30px;
}

.Node__toolbar {
  display: flex;
}

.Node__toolbarBtn{
  display: block;
  background: none;
  border: none;
  margin: 0 7px;
  color: #d4d4d4;
  font-size: 14px;
  padding:0;
}


.Node__toolbarBtn:hover,
.Node__toolbarBtn:active{
  color: #000000;
  outline: none;
}
