.LocaleTabsRenderer {
  background: #fff;
}

.Nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #efefef;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Nav__item {
  flex-grow: 1;
}

.Nav__link {
  padding: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  bottom: -1px;
  box-sizing: border-box;
  font-weight: 300;
}

.Nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.Nav__link_active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #00acac;
}

.Nav__link_active {
  font-weight: 600;
  color: #00acac;
}

.Tabs {
  margin-top: 15px;
}

.Tabs__tab{
  display: none;
}

.Tabs__tab_active{
  display: block;
}

