.Form{}
.FormGroup{
  margin-bottom: 15px;
}

.FormGroup_error{

}

.FormControl{
  display: block;
  width: 100%;
  padding: 7px 10px;
  font-size: 16px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 3px;
}
.FormErrorMessage{
  color: red;
  font-size:12px;
}

.FormBtn{
  border: 1px solid #018339;
  background: #018339;
  color: #fff;
  padding: 7px 15px;
}
.FormBtn:hover{
  background: none;
  color: #018339;
}
.FormBtn:disabled,
.FormBtn:hover:disabled {
  background: rgba(1, 131, 57, 0.6);
  border:1px solid rgba(1, 131, 57, 0.6);
  cursor: not-allowed;
  color: #fff;
}

.FormGroup_error .FormControl{
  border: 1px solid red;
}
