.TableManager {
  width: 100%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.TableManager__toolbar{

}

.TableManager__table {
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
}

.buttonGroup{
  display: inline-flex;
}

.button{
  margin:0;
}


.button_active{
  background: #fff;
  color: #00acac;
}

