.TableManager {
  width: 100%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.TableManager__toolbar{

}

.TableManager__table {
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
}

.Table {
  border-collapse: collapse;
}

.Table td, .Table th {
  border: 1px solid rgb(182, 194, 201);
  padding: 10px;
}

.Table th {
  padding: 10px;
  text-align: left;
  font-weight: 600;
}

.Table td {
  color: #707478;
}

.Table tbody tr:nth-child(2n+1) {
  background: #efefef;
}
