
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

$primary-color: #018339;
$primary-text-color: #444444;

* {
    margin: 0;
    padding: 0;
}

html,
body, #root {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1380px;
    margin: 0 auto
}

.btn {
    border: none;
    background: none;
    display: inline-block;
    padding: 10px 20px;
}

.btn-primary {
    border: 2px solid $primary-color;
    background: $primary-color;
    color: #fff;
}

.link {
    color: $primary-color;
    font-size: 16px;
    border: none;
    background: none;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.btn-primary-inverse {
    @extend .btn-primary;

    &:hover {
        background: none;
        color: $primary-color;
        outline: none;
        border: 2px solid $primary-color;
    }
}

.title {
    color: #444;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: $primary-color;
        bottom: -4px;
        left: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}
.secondary-content{
    padding-top: 120px;
    height: 100%;
}
.footer {
    flex: 0 0 auto;
    background: #585856;
    padding: 20px 0;
    color: #fff;

    &__container {
        display: flex;
    }

    &__address {
        flex-grow: 1;
    }

    &__copyright {
        align-self: flex-end;
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .footer {
        &__container {
            flex-direction: column;
        }

        &__copyright {
            width: 100%;
            text-align: center;
            border-top: 1px solid #ffffff;
        }
    }
}



/*INPUT FILE BTN*/
.inputFileBtn{
    position: relative;
    padding: 5px 15px;
    border: 2px solid #00acac;
    background: #00acac;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
}

.inputFileBtn:hover{
    background: none;
    color: #00acac;
}
.inputFileBtn_disabled,
.inputFileBtn_disabled:hover {
    border: 2px solid #00acac;
    background: #00acac;
    opacity: 0.5;
    color: #fff;
}

.inputFileBtn [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.input{
    padding: 7px 15px;
    width: 100%;
}
.input:active,
.input:focus{
    outline: none;
}

/* MODAL */
.Modal{}
.Modal__title{
    padding: 10px 15px;
    background: #00acac;
    color: #fff;
}
.Modal__title_warning{
    background: red;
}
.Modal__content{
    padding: 15px 15px;
}
.Modal__buttons{
    text-align: right;
    margin-top: 10px;
}

/* COMMON BUTTONS*/
.button{
    display: inline-block;
    border: 2px solid #00acac;
    background: #00acac;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
}


.button:hover{
    text-decoration: none;
    background: none;
    color: #00acac;
}

.button:disabled,
.button:hover:disabled{
    background: #00acac;
    color: #fff;
    opacity: 0.5;
}

.button:focus,
.button:active,
.button:visited{
    outline: none;
}

.button_warning{
    background: red;
    border: 2px solid red;
}
.button_warning:hover{
    color: red;
}

.iconButton{
    border: 2px solid #00acac;
    background: #00acac;
    color: #fff;
    padding: 5px;
    display:inline-block;
    margin-right:4px;
    width:36px;
    text-align: center;
}
.iconButton:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.iconButton:hover{
    color: #00acac;
    background: none;
}
.iconButton:active,
.iconButton:focus,
.iconButton:focus{
    outline: none;
}

.iconButton_warning{
    border: 2px solid red;
    background: red;
}
.iconButton_warning:hover{
    color: red;
}

.iconButton_edit:before{
    content: "\f304"
}
.iconButton_delete:before{
    content: "\f2ed"
}

td .iconButton:last-child{
    margin-right:0px;
}

